# Ignore node_modules directory
node_modules/

# Ignore dist directory (compiled files)
server/src/

# Ignore environment variables
.env

# Ignore other potential build artifacts or log files
*.log

# Ignore uploads folder
server/src/uploads/
