# Ignore node_modules directory
node_modules/

# Ignore dist directory (compiled files)
dist/

# Ignore environment variables
.env

# Ignore other potential build artifacts or log files
*.log

# Ignore uploads folder
src/uploads/

# Ignore file
nodemon.json
